<!--  bootstrap icons from:
      [1] https://fontawesome.com/v4/icons/
      [2] https://getbootstrap.com/docs/3.3/components/
-->

{% extends "base.html" %}
{% block TITLE %}
{{ name }} | {{ title }}
{% endblock %}

{% block SIDE_MENU %}
<div class="col-lg-2 pull-left"
  style="padding: 0; left: 0; position: fixed; height: 100%;background-color: rgba(255, 255, 0, 0.1) ; overflow-y: scroll;">

  <div id="sidebar" class="sidebar-nav">
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul id="menu" class="nav nav-pills nav-stacked sidebar pull-left">
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li id="dashboard">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/dashboard/gc/');return false;">
            <div class="item-media">
              <i class="fa fa-2x fa-dashboard"></i>
            </div>
            <div class="item-inner">Dashboard</div>
          </a>
        </li> <!-- end of li-dashboard -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li id="TopologicalAnalysis">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/TopologicalAnalysis/');return false;"
            style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa-bar-chart"></i>
            </div>
            <div class="item-inner">Topological Analysis</div>
          </a>
        </li>
        <!-- end of li-DataFusion -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-UndirectedNetworks">
          <a data-toggle="collapse" href="#collapse-UndirectedNetworks" aria-expanded="false" aria-controls="collapse-UndirectedNetworks" class="sidebar-link change-to-hand-on-hover">
            <div class="item-media">
              <i class="fa fa-2x fa-plus"></i>
            </div>
            <div class="item-inner">Undirected Networks <b class="caret"></b> </div>
          </a>
        </li> 
        <div class="collapse collapsed_section" id="collapse-UndirectedNetworks">
          <li id="Visualise">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/Visualise/');return false;">
              <div class="item-media">
                <i class="fa fa-video-camera"></i>
              </div>
              <div class="item-inner">Visualize</div>
            </a>
          </li>
          <li id="networkProperties">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/networkProperties/');return false;">
              <div class="item-media">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="item-inner">Properties</div>
            </a>
          </li>
          <li id="DataVsModel">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DataVsModel/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Data Vs Model</div>
            </a>
          </li>
          <li id="pairwiseAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/pairwiseAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Pairwise Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
          <li id="GraphletLaplacians">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/GraphletLaplacians/');return false;">
              <div class="item-media">
              <i class="glyphicon glyphicon-italic"></i>
              </div>
              <div class="item-inner">Graphlet Laplacians</div>
            </a>
          </li>
          <li id="GraphletEigencentralities">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/GraphletEigencentralities/');return false;">
              <div class="item-media">
              <i class="glyphicon glyphicon-asterisk"></i>
              </div>
              <div class="item-inner">Graphlet Eigencentralities</div>
            </a>
          </li>
          <li class="divider"></li>
        </div>  -->
        <!-- end of dropdown-UndirectedNetworks -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-DirectedNetworks">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-DirectedNetworks" aria-expanded="false" aria-controls="collapse-DirectedNetworks">
            <div class="item-media">
              <i class="fa fa-2x fa-arrows"></i>
            </div>
            <div class="item-inner">Directed Networks <b class="caret"></b> </div>
          </a>
        </li> 
        <div class="collapse collapsed_section" id="collapse-DirectedNetworks"> 
          <li id="DirectedNetworkProperties">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkProperties/');return false;">
              <div class="item-media">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="item-inner">Properties</div>
            </a>
          </li>
          <li id="DirectedNetworkDataVsModel">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkDataVsModel/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Data Vs Model</div>
            </a>
          </li>
          <li id="DirectedNetworkPairwise">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkPairwise/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Pairwise Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div> -->
        <!-- end of dropdown-DirectedNetworks -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-ProbabilisticGraphlets">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-ProbabilisticGraphlets" aria-expanded="false" aria-controls="collapse-ProbabilisticGraphlets">
            <div class="item-media">
              <i class="fa fa-2x fa-line-chart"></i>
            </div>
            <div class="item-inner">Probabilistic Networks <b class="caret"></b> </div>
          </a>
        </li>
        <div class="collapse collapsed_section" id="collapse-ProbabilisticGraphlets">
          <li id="ProbabilisticNetworksModelAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/ProbabilisticNetworksModelAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Model Analysis</div>
            </a>
          </li>
          <li id="ProbabilisticNetworksNetAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/ProbabilisticNetworksNetAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">P. Network Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div> -->
        <!-- end of dropdown-ProbabilisticGraphlets -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-Simplets">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-Simplets" aria-expanded="false" aria-controls="collapse-Simplets">
            <div class="item-media">
              <i class="fa fa-2x fa-simplybuilt"></i>
            </div>
            <div class="item-inner">Simplets <b class="caret"></b> </div>
          </a>
        </li>
        <div class="collapse collapsed_section" id="collapse-Simplets">
          <li id="SimpletsDataVsModel">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/SimpletsPairwiseAnalysis/page_dvm/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Data Vs Model</div>
            </a>
          </li>
          <li id="SimpletsPairwiseAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/SimpletsPairwiseAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Pairwise Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div> -->
        <!-- end of dropdown-Simplets -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-HyperGraphlets">
          <a data-toggle="collapse" href="#collapse-HyperGraphlets" aria-expanded="false" aria-controls="collapse-HyperGraphlets" class="sidebar-link change-to-hand-on-hover">
            <div class="item-media">
              <i class="fa fa-2x fa-angle-double-up"></i>
            </div>
            <div class="item-inner">Hyper Graphlets <b class="caret"></b> </div>
          </a>
        </li> 
        <div class="collapse collapsed_section" id="collapse-HyperGraphlets">
          <li id="HyperGraphletsNetAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/HyperGraphletsNetAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Hypernetwork Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div>  -->
        <!-- end of dropdown-HyperGraphlets -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-Alignment">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-Alignment"
            aria-expanded="false" aria-controls="collapse-Alignment">
            <div class="item-media">
              <i class="fa fa-2x fa-align-center"></i>
            </div>
            <div class="item-inner">Network Alignment<b class="caret"></b> </div>
          </a>
        </li>
        <div class="collapse collapsed_section" id="collapse-Alignment">
          <li id="alignment">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/alignment/');return false;">
              <div class="item-media">
                <i class="glyphicon glyphicon-object-align-vertical"></i>
              </div>
              <div class="item-inner">Pairwise Alignment</div>
            </a>
          </li>
          <li id="MultipleAlignment">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/MultipleAlignment/');return false;">
              <div class="item-media">
                <i class="fa fa-cubes"></i>
              </div>
              <div class="item-inner">Multiple Alignment (FUSE)</div>
            </a>
          </li>
        </div> <!-- end of dropdown-Alignment -->
        <!------------------------------------------------------------------------>
        <!-- <li id="ClusteringAndEnrichment">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/ClusteringAndEnrichment/clustering_and_enrichment_analysis/');return false;"
             style="padding-right: 0;">
            <div class="item-media">
              <i class="fa-2x glyphicon glyphicon-stats"></i>
            </div>
            <div class="item-inner">Clustering & Enrichment</div>
          </a>
        </li> -->
        <!-- end of dropdown-ClustEnrich -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li id="DataFusion">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DataFusion/');return false;"
            style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa-database"></i>
            </div>
            <div class="item-inner">Data Fusion</div>
          </a>
        </li>
        <!-- end of li-DataFusion -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <!-- flag:NewTaskTemplate remember changing link and id. note: change the whole li block -->
        <li id="flag:NewTaskTemplate" style="display: none;"> <!-- style="display: none;" style="display: hidden;" -->
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/NewTaskTemplate/');return false;"
            style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa fa-camera-retro"></i>
            </div>
            <div class="item-inner">NewTaskTemplate</div>
          </a>
        </li> <!-- end of li-NewTaskTemplate -->
        <!------------------------------------------------------------------------>
        {% if is_beta_tester %}
        {# This area is for links just for beta testers#}
        {% endif %}
        {% if is_staff %}
        <li id="AdminCenter">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/AdminCenter/');return false;">
            <div class="item-media">
              <i class="fa fa-2x fa-user-secret"></i>
            </div>
            <div class="item-inner">Admin Center</div>
          </a>
        </li>
        {% endif %}
        <!------------------------------------------------------------------------>
        <!-- <li id="LogOut">
          <a class="sidebar-link change-to-hand-on-hover" href="/logout">
            <div class="item-media">
              <i class="fa fa-2x fa-sign-out"></i>
            </div>
            <div class="item-inner">Sign Out</div>
          </a>
        </li> -->
        <!------------------------------------------------------------------------>
        <!-- <hr/> -->
        <!------------------------------------------------------------------------>
      </ul> <!--/.ul-menu -->
    </div> <!--/.nav-collapse -->
  </div> <!--/.sidebar-nav -->
</div> <!-- main-div -->
<!------------------------------------------------------------------------>
<style>
  .collapsed_section {
    position: static;
    float: none;
    width: auto;
    margin-left: 30px;
    /* padding: 5px 0; */
    /* padding-left: 20px; */
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(248, 238, 200, 0.541);
  }

  .collapsed_section>li.active {
    background-color: rgba(255, 205, 17, 0.67);
    color: #373837;
    font-size: 101%;
    border-right: outset rgba(255, 205, 17, 0.67) 5px;
  }

  .on-pending {
    background-color: rgba(255, 0, 0, 0.5);
  }

  .on-dev {
    background-color: rgba(0, 17, 255, 0.61);
  }
</style>
<!------------------------------------------------------------------------>
{% endblock %}

{% block NAVBAR_DROP_DOWN %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle right-user-menu right-drop-down-menu-item change-to-hand-on-hover"
        data-toggle="dropdown" role="button" aria-expanded="false">
        {{ name }}
        {# <i class="fa fa-bars fa-lg"></i>#}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu right-user-menu" role="menu">
        <!-- <li>
            <a class="right-drop-down-menu-item change-to-hand-on-hover"
               onclick="navigateTo('/Profile/');return false;">
              <i class="fa fa-user fa-lg"></i> User Profile
            </a>
          </li> -->
        <li class="divider "></li>
        <li>
          <a class="right-drop-down-menu-item" href="/logout">
            <i class="fa fa-sign-out fa-lg"></i> Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}

{% block NETWORK_UPLOAD %}
<div class="row-fluid">
  <div class="col-lg-2 pull-right right-sidebar" style="position: fixed;border-right-width: 0;">
    <h3 style="text-align: center">Networks</h3>

    <div id="loadedNetworksList">
      <input class="search form-control" placeholder="Search" style="width: 100%; margin-bottom: 1px;" />
      <button class="btn btn-primary sort" data-sort="name" style="width: 100%; padding: 0;">
        Sort by name
      </button>

      <ul class="list">
      </ul>
      <ul id="pages-numbers" class="pagination" style="align-content: center"></ul>
    </div>

    <div style="position: absolute; bottom: 40px; right:5px;left:5px;padding:5px;">
      <button type="button" data-toggle="modal" data-target="#loadNetworkModal" class="btn btn-primary"
        style="width: 100%; padding: 10px;">
        <i class="fa fa-plus-circle fa-lg"></i> Load New Networks
      </button>
    </div>

    <div style="position: absolute; bottom: 0; right:5px;left:5px;padding:5px;">
      <button type="button" class="btn btn-danger" onclick="deleteLoadedNetworks()" style="width: 100%; padding: 10px;">
        <i class="fa fa-trash fa-lg"></i> Delete All Loaded Networks
      </button>
    </div>

  </div>
  <div class="row-fluid">
    <div class="col-lg-2 pull-right running-tasks">
      <div id="tasks-list" style="width: 100%; margin-top: 5px;">
        <h3 style="margin-bottom: 0;">Running Tasks</h3>
        <ul class="list" style="margin-top:0;">
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="loadNetworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="z-index: 1051;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Load New Networks</h4>

        </div>
        <div class="modal-body" style="overflow-y: auto;">
          <form id="fileUploadForm" style="width: 100%;">
            <!-- <div class="form-group">
              <label for="id_networkNameInput">Network Name</label>
              <input type="text" style="width: calc(100% - 10px);" class="form-control centre-block"
                id="id_networkNameInput" placeholder="Network Name">
            </div> -->
            <!-- 
              Form for uploading a single network file
             -->
            <!-- <div class="form-group">
              <label for="id_network_file_input">Choose File for Network</label>
              <input type="file" style="width: calc(100% - 10px);" class="form-control centre-block"
                id="id_network_file_input">
            </div> -->
            <!-- 
              Form for uploading several network files
             -->
            <div class="form-group">
              <label for="id_network_file_input">Choose Files</label>
              <input type="file" style="width: calc(100% - 10px);" class="form-control centre-block"
                id="id_network_file_input" multiple>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="id_file_submit" class="btn btn-primary centre-block" data-dismiss="modal">Load</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <script>
    // Initial setup
    setUpOnDemandFileUpload($("#id_network_file_input"), $("#id_file_submit"), $("#id_networkNameInput"), $("#uploadedNetworks"), $("#fileUploadForm"));
    initialiseRunningTasksList('tasks-list');
    // If NetworkFiles is empty, load networks from the server using 'download_networks' function
    if (networkFiles.length == 0) {
      download_networks();
    }

    function updateNetworks(){
      // just to avoid the error 'updateNetworks() is not defined'
    }

  </script>
  {% endblock %}