<!--  expandable menu from:
      [1] https://stackoverflow.com/questions/23455820/bootstrap-3-collapsible-sidebar
      [2] https://www.codeply.com/go/bp/pckUqtKEMD
      bootstrap icons from:
      [1] https://fontawesome.com/v4/icons/
      [2] https://getbootstrap.com/docs/3.3/components/
-->

{% extends "base.html" %}
{% block TITLE %}
  {{ name }} | {{ title }}
{% endblock %}

{% block SIDE_MENU %}
<div class="col-lg-2 pull-left" style="padding: 0; left: 0; position: fixed; height: 100%;background-color: rgba(255, 255, 0, 0.1) ; overflow-y: scroll;">

  <div id="sidebar" class="sidebar-nav">
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul id="menu" class="nav nav-pills nav-stacked sidebar pull-left">
        <!------------------------------------------------------------------------>
        <hr/>
        <!------------------------------------------------------------------------>
        <li id="dashboard">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/dashboard/gc/');return false;">
            <div class="item-media">
              <i class="fa fa-2x fa-dashboard"></i>
            </div>
            <div class="item-inner">Dashboard</div>
          </a>
        </li>
        <!------------------------------------------------------------------------>
        <hr/>
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-UndirectedNetworks">
          <a class="sidebar-link change-to-hand-on-hover dropdown-toggle" data-toggle="dropdown">
            <div class="item-media">
              <i class="fa fa-2x fa-plus"></i>
            </div>
            <div class="item-inner">Undirected Networks <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu"> 
            <li id="Visualise">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/Visualise/');return false;">
                <div class="item-media">
                  <i class="fa fa-video-camera"></i>
                </div>
                <div class="item-inner">Visualise</div>
              </a>
            </li>
            <li id="networkProperties">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/networkProperties/');return false;">
                <div class="item-media">
                  <i class="fa fa-bar-chart"></i>
                </div>
                <div class="item-inner">Properties</div>
              </a>
            </li>
            <li id="DataVsModel">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DataVsModel/');return false;">
                <div class="item-media">
                  <i class="fa fa-arrows-h"></i>
                </div>
                <div class="item-inner">Data Vs Model</div>
              </a>
            </li>
            <li id="pairwiseAnalysis">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/pairwiseAnalysis/');return false;">
                <div class="item-media">
                  <i class="fa fa-2x fa-columns"></i>
                </div>
                <div class="item-inner">Pairwise Analysis</div>
              </a>
            </li>
            <!--  -->
            <li class="divider"></li>
            <!--  -->
            <li id="GraphletLaplacians">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/GraphletLaplacians/');return false;">
                <div class="item-media">
                <i class="glyphicon glyphicon-italic"></i>
                </div>
                <div class="item-inner">Graphlet Laplacians</div>
              </a>
            </li>
            <li id="GraphletEigencentralities">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/GraphletEigencentralities/');return false;">
                <div class="item-media">
                <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <div class="item-inner">Graphlet Eigencentralities</div>
              </a>
            </li>
            <!--  -->
            <li class="divider"></li>
            <!--  -->
          </ul>
        </li> <!-- end of dropdown-UndirectedNetworks -->
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-DirectedNetworks">
          <a class="sidebar-link change-to-hand-on-hover dropdown-toggle" data-toggle="dropdown">
            <div class="item-media">
              <i class="fa fa-2x fa-arrows"></i>
            </div>
            <div class="item-inner">Directed Networks <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu"> 
            <li id="DirectedNetworkProperties">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkProperties/');return false;">
                <div class="item-media">
                  <i class="fa fa-bar-chart"></i>
                </div>
                <div class="item-inner">Properties</div>
              </a>
            </li>
            <li id="DirectedNetworkDataVsModel">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkDataVsModel/');return false;">
                <div class="item-media">
                  <i class="fa fa-arrows-h"></i>
                </div>
                <div class="item-inner">Data Vs Model</div>
              </a>
            </li>
            <li id="DirectedNetworkPairwise">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkPairwise/');return false;">
                <div class="item-media">
                  <i class="fa fa-2x fa-columns"></i>
                </div>
                <div class="item-inner">Pairwise Analysis</div>
              </a>
            </li>
            <!--  -->
            <li class="divider"></li>
            <!--  -->
          </ul>
        </li> <!-- end of dropdown-DirectedNetworks -->
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-ProbabilisticGraphlets">
          <a class="sidebar-link change-to-hand-on-hover dropdown-toggle" data-toggle="dropdown">
            <div class="item-media">
              <i class="fa fa-2x fa-line-chart"></i>
            </div>
            <div class="item-inner">Probabilistic Graphlets <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu"> 
            <li id="ProbGraphNetworkProperties">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/ProbGraphNetworkProperties/');return false;">
                <div class="item-media">
                  <i class="fa fa-bar-chart"></i>
                </div>
                <div class="item-inner">Properties</div>
              </a>
            </li>
            <li id="ProbGraphDataVsModel">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/ProbGraphDataVsModel/');return false;">
                <div class="item-media">
                  <i class="fa fa-arrows-h"></i>
                </div>
                <div class="item-inner">Data Vs Model</div>
              </a>
            </li>
            <li id="ProbGraphPairwiseAnalysis">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/ProbGraphPairwiseAnalysis/');return false;">
                <div class="item-media">
                  <i class="fa fa-2x fa-columns"></i>
                </div>
                <div class="item-inner">Pairwise Analysis</div>
              </a>
            </li>
            <!--  -->
            <li class="divider"></li>
            <!--  -->
          </ul>
        </li> <!-- end of dropdown-ProbabilisticGraphlets -->
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-HyperGraphlets">
          <a class="sidebar-link change-to-hand-on-hover dropdown-toggle" data-toggle="dropdown">
            <div class="item-media">
              <i class="fa fa-3x fa-angle-double-up"></i>
            </div>
            <div class="item-inner">Hyper Graphlets <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu"> 
            <li id="HyperGraphNetworkProperties">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/HyperGraphNetworkProperties/');return false;">
                <div class="item-media">
                  <i class="fa fa-bar-chart"></i>
                </div>
                <div class="item-inner">Properties</div>
              </a>
            </li>
            <li id="HyperGraphDataVsModel">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/HyperGraphDataVsModel/');return false;">
                <div class="item-media">
                  <i class="fa fa-arrows-h"></i>
                </div>
                <div class="item-inner">Data Vs Model</div>
              </a>
            </li>
            <li id="HyperGraphPairwiseAnalysis">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/HyperGraphPairwiseAnalysis/');return false;">
                <div class="item-media">
                  <i class="fa fa-2x fa-columns"></i>
                </div>
                <div class="item-inner">Pairwise Analysis</div>
              </a>
            </li>
            <!--  -->
            <li class="divider"></li>
            <!--  -->
          </ul>
        </li> <!-- end of dropdown-HyperGraphlets -->
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-Simplets">
          <a class="sidebar-link change-to-hand-on-hover dropdown-toggle" data-toggle="dropdown">
            <div class="item-media">
              <i class="fa fa-2x fa-simplybuilt"></i>
            </div>
            <div class="item-inner">Simplets <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu"> 
            <li id="SimpletsNetworkProperties">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/SimpletsNetworkProperties/');return false;">
                <div class="item-media">
                  <i class="fa fa-bar-chart"></i>
                </div>
                <div class="item-inner">Properties</div>
              </a>
            </li>
            <li id="SimpletsDataVsModel">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/SimpletsDataVsModel/');return false;">
                <div class="item-media">
                  <i class="fa fa-arrows-h"></i>
                </div>
                <div class="item-inner">Data Vs Model</div>
              </a>
            </li>
            <li id="SimpletsPairwiseAnalysis">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/SimpletsPairwiseAnalysis/');return false;">
                <div class="item-media">
                  <i class="fa fa-2x fa-columns"></i>
                </div>
                <div class="item-inner">Pairwise Analysis</div>
              </a>
            </li>
            <!--  -->
            <li class="divider"></li>
            <!--  -->
          </ul>
        </li> <!-- end of dropdown-Simplets -->
        <!------------------------------------------------------------------------>
        <hr/>
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-Alignment">
          <a class="sidebar-link change-to-hand-on-hover dropdown-toggle" data-toggle="dropdown">
            <div class="item-media">
              <i class="fa fa-2x fa-align-center"></i>
            </div>
            <div class="item-inner">Alignment <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu"> 
            <li id="alignment">
              <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/alignment/');return false;">
                <div class="item-media">
                  <i class="glyphicon glyphicon-object-align-vertical"></i>
                </div>
                <div class="item-inner">Pairwise Alignment</div>
              </a>
            </li>
            <li id="MultipleAlignment">
              <a class="sidebar-link change-to-hand-on-hover on-dev" onclick="navigateTo('/MultipleAlignment/');return false;">
                <div class="item-media">
                  <i class="fa fa-cubes"></i>
                </div>
                <div class="item-inner">Multiple Alignment (FUSE)</div>
              </a>
            </li>
          </ul>
        </li> <!-- end of dropdown-Alignment -->
        <!------------------------------------------------------------------------>
        <li id="DataFusion">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DataFusion/');return false;"
             style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa-database"></i>
            </div>
            <div class="item-inner">Data Fusion</div>
          </a>
        </li> <!-- end of li-DataFusion -->
        <!------------------------------------------------------------------------>
        <!-- flag:NewTaskTemplate note: change the whole li block -->
        <li id="NewTaskTemplate" > <!-- style="display: none;" style="display: hidden;" -->
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/NewTaskTemplate/');return false;"
             style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa fa-camera-retro"></i>
            </div>
            <div class="item-inner">NewTaskTemplate</div>
          </a>
        </li> <!-- end of li-NewTaskTemplate -->
        <!------------------------------------------------------------------------>
        {% if is_beta_tester %}
          {#            This area is for links just for beta testers#}
        {% endif %}
        {% if is_staff %}
          <li id="AdminCenter">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/AdminCenter/');return false;">
              <div class="item-media">
                <i class="fa fa-2x fa-user-secret"></i>
              </div>
              <div class="item-inner">Admin Center</div>
            </a>
          </li>
        {% endif %}
        <!------------------------------------------------------------------------>
        <li>
          <a class="sidebar-link change-to-hand-on-hover" href="/logout">
            <div class="item-media">
              <i class="fa fa-2x fa-sign-out"></i>
            </div>
            <div class="item-inner">Sign Out</div>
          </a>
        </li>
        <!------------------------------------------------------------------------>
      </ul>
    </div><!--/.nav-collapse -->
  </div> <!--/.sidebar-nav -->  
</div>  <!-- main-div -->
<!------------------------------------------------------------------------>
<style>
  .sidebar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin: 0;
      padding: 5px 0;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .on-dev {
      background-color: rgba(255, 0, 0, 0.5);
      /* color: #373837; */
      /* font-size: 101%; */
      /* border-right: outset rgba(255, 205, 17, 0.67) 5px; */
      /*color: #ffffff;*/
  }
</style>
<!------------------------------------------------------------------------>
{% endblock %}

{% block NAVBAR_DROP_DOWN %}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle right-user-menu right-drop-down-menu-item change-to-hand-on-hover"
           data-toggle="dropdown" role="button"
           aria-expanded="false">
          {{ name }}
          {#          <i class="fa fa-bars fa-lg"></i>#}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu right-user-menu" role="menu">
          <li>
            <a class="right-drop-down-menu-item change-to-hand-on-hover"
               onclick="navigateTo('/Profile/');return false;">
              <i class="fa fa-user fa-lg"></i> User Profile
            </a>
          </li>
          <li class="divider "></li>
          <li>
            <a class="right-drop-down-menu-item" href="/authentication/logout">
              <i class="fa fa-sign-out fa-lg"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}

{% block NETWORK_UPLOAD %}
  <div class="row-fluid">
    <div class="col-lg-2 pull-right right-sidebar" style="position: fixed;border-right-width: 0;">
      <h3 style="text-align: center">Networks</h3>

      <div id="loadedNetworksList">
        <input class="search form-control" placeholder="Search" style="width: 100%; margin-bottom: 1px;"/>
        <button class="btn btn-primary sort" data-sort="name" style="width: 100%; padding: 0;">
          Sort by name
        </button>

        <ul class="list">
        </ul>
        <ul id="pages-numbers" class="pagination" style="align-content: center"></ul>
      </div>

      <div style="position: absolute; bottom: 1px; right:5px;left:5px;padding:5px;">

        <button type="button" data-toggle="modal" data-target="#loadNetworkModal" class="btn btn-primary"
                style="width: 100%; padding: 10px;">
          <i class="fa fa-plus-circle fa-lg"></i> Load New Network
        </button>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-2 pull-right running-tasks">
      <div id="tasks-list" style="width: 100%; margin-top: 5px;">
        <h3 style="margin-bottom: 0;">Running Tasks</h3>
        <ul class="list" style="margin-top:0;">
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="loadNetworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true"
       style="z-index: 1051;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Load New Network</h4>

        </div>
        <div class="modal-body" style="overflow-y: auto;">
          <form id="fileUploadForm" style="width: 100%;">
            <div class="form-group">
              <label for="id_networkNameInput">Network Name</label>
              <input type="text" style="width: calc(100% - 10px);" class="form-control centre-block"
                     id="id_networkNameInput" placeholder="Network Name">
            </div>
            <div class="form-group">
              <label for="id_network_file_input">Choose File for Network</label>
              <input type="file" style="width: calc(100% - 10px);" class="form-control centre-block"
                     id="id_network_file_input">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="id_file_submit" class="btn btn-primary centre-block" data-dismiss="modal">Load</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <script>
    setUpOnDemandFileUpload($("#id_network_file_input"), $("#id_file_submit"), $("#id_networkNameInput"), $("#uploadedNetworks"), $("#fileUploadForm"));
    initialiseRunningTasksList('tasks-list');
  </script>
{% endblock %}