<!--  bootstrap icons from:
      [1] https://fontawesome.com/v4/icons/
      [2] https://getbootstrap.com/docs/3.3/components/
-->

{% extends "base.html" %}
{% block TITLE %}
{{ name }} | {{ title }}
{% endblock %}

{% block SIDE_MENU %}
<div class="col-lg-2 pull-left"
  style="padding: 0; left: 0; position: fixed; height: 100%;background-color: rgba(255, 255, 0, 0.1) ; overflow-y: scroll;">

  <div id="sidebar" class="sidebar-nav">
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul id="menu" class="nav nav-pills nav-stacked sidebar pull-left">
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li id="dashboard">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/dashboard/gc/');return false;">
            <div class="item-media">
              <i class="fa fa-2x fa-dashboard"></i>
            </div>
            <div class="item-inner">Dashboard</div>
          </a>
        </li> <!-- end of li-dashboard -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li id="TopologicalAnalysis">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/TopologicalAnalysis/');return false;"
            style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa-bar-chart"></i>
            </div>
            <div class="item-inner">Topological Analysis</div>
          </a>
        </li>
        <!-- end of li-DataFusion -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-UndirectedNetworks">
          <a data-toggle="collapse" href="#collapse-UndirectedNetworks" aria-expanded="false" aria-controls="collapse-UndirectedNetworks" class="sidebar-link change-to-hand-on-hover">
            <div class="item-media">
              <i class="fa fa-2x fa-plus"></i>
            </div>
            <div class="item-inner">Undirected Networks <b class="caret"></b> </div>
          </a>
        </li> 
        <div class="collapse collapsed_section" id="collapse-UndirectedNetworks">
          <li id="Visualise">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/Visualise/');return false;">
              <div class="item-media">
                <i class="fa fa-video-camera"></i>
              </div>
              <div class="item-inner">Visualize</div>
            </a>
          </li>
          <li id="networkProperties">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/networkProperties/');return false;">
              <div class="item-media">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="item-inner">Properties</div>
            </a>
          </li>
          <li id="DataVsModel">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DataVsModel/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Data Vs Model</div>
            </a>
          </li>
          <li id="pairwiseAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/pairwiseAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Pairwise Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
          <li id="GraphletLaplacians">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/GraphletLaplacians/');return false;">
              <div class="item-media">
              <i class="glyphicon glyphicon-italic"></i>
              </div>
              <div class="item-inner">Graphlet Laplacians</div>
            </a>
          </li>
          <li id="GraphletEigencentralities">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/GraphletEigencentralities/');return false;">
              <div class="item-media">
              <i class="glyphicon glyphicon-asterisk"></i>
              </div>
              <div class="item-inner">Graphlet Eigencentralities</div>
            </a>
          </li>
          <li class="divider"></li>
        </div>  -->
        <!-- end of dropdown-UndirectedNetworks -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-DirectedNetworks">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-DirectedNetworks" aria-expanded="false" aria-controls="collapse-DirectedNetworks">
            <div class="item-media">
              <i class="fa fa-2x fa-arrows"></i>
            </div>
            <div class="item-inner">Directed Networks <b class="caret"></b> </div>
          </a>
        </li> 
        <div class="collapse collapsed_section" id="collapse-DirectedNetworks"> 
          <li id="DirectedNetworkProperties">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkProperties/');return false;">
              <div class="item-media">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="item-inner">Properties</div>
            </a>
          </li>
          <li id="DirectedNetworkDataVsModel">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkDataVsModel/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Data Vs Model</div>
            </a>
          </li>
          <li id="DirectedNetworkPairwise">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DirectedNetworkPairwise/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Pairwise Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div> -->
        <!-- end of dropdown-DirectedNetworks -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-ProbabilisticGraphlets">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-ProbabilisticGraphlets" aria-expanded="false" aria-controls="collapse-ProbabilisticGraphlets">
            <div class="item-media">
              <i class="fa fa-2x fa-line-chart"></i>
            </div>
            <div class="item-inner">Probabilistic Networks <b class="caret"></b> </div>
          </a>
        </li>
        <div class="collapse collapsed_section" id="collapse-ProbabilisticGraphlets">
          <li id="ProbabilisticNetworksModelAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/ProbabilisticNetworksModelAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Model Analysis</div>
            </a>
          </li>
          <li id="ProbabilisticNetworksNetAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/ProbabilisticNetworksNetAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">P. Network Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div> -->
        <!-- end of dropdown-ProbabilisticGraphlets -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-Simplets">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-Simplets" aria-expanded="false" aria-controls="collapse-Simplets">
            <div class="item-media">
              <i class="fa fa-2x fa-simplybuilt"></i>
            </div>
            <div class="item-inner">Simplets <b class="caret"></b> </div>
          </a>
        </li>
        <div class="collapse collapsed_section" id="collapse-Simplets">
          <li id="SimpletsDataVsModel">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/SimpletsPairwiseAnalysis/page_dvm/');return false;">
              <div class="item-media">
                <i class="fa fa-arrows-h"></i>
              </div>
              <div class="item-inner">Data Vs Model</div>
            </a>
          </li>
          <li id="SimpletsPairwiseAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/SimpletsPairwiseAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Pairwise Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div> -->
        <!-- end of dropdown-Simplets -->
        <!------------------------------------------------------------------------>
        <!-- <li class="dropdown" id="dropdown-HyperGraphlets">
          <a data-toggle="collapse" href="#collapse-HyperGraphlets" aria-expanded="false" aria-controls="collapse-HyperGraphlets" class="sidebar-link change-to-hand-on-hover">
            <div class="item-media">
              <i class="fa fa-2x fa-angle-double-up"></i>
            </div>
            <div class="item-inner">Hyper Graphlets <b class="caret"></b> </div>
          </a>
        </li> 
        <div class="collapse collapsed_section" id="collapse-HyperGraphlets">
          <li id="HyperGraphletsNetAnalysis">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/HyperGraphletsNetAnalysis/');return false;">
              <div class="item-media">
                <i class="fa fa-columns"></i>
              </div>
              <div class="item-inner">Hypernetwork Analysis</div>
            </a>
          </li>
          <li class="divider"></li>
        </div>  -->
        <!-- end of dropdown-HyperGraphlets -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li class="dropdown" id="dropdown-Alignment">
          <a class="sidebar-link change-to-hand-on-hover" data-toggle="collapse" href="#collapse-Alignment"
            aria-expanded="false" aria-controls="collapse-Alignment">
            <div class="item-media">
              <i class="fa fa-2x fa-align-center"></i>
            </div>
            <div class="item-inner">Network Alignment<b class="caret"></b> </div>
          </a>
        </li>
        <div class="collapse collapsed_section" id="collapse-Alignment">
          <li id="alignment">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/alignment/');return false;">
              <div class="item-media">
                <i class="glyphicon glyphicon-object-align-vertical"></i>
              </div>
              <div class="item-inner">Pairwise Alignment</div>
            </a>
          </li>
          <li id="MultipleAlignment">
            <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/MultipleAlignment/');return false;">
              <div class="item-media">
                <i class="fa fa-cubes"></i>
              </div>
              <div class="item-inner">Multiple Alignment (FUSE)</div>
            </a>
          </li>
        </div> <!-- end of dropdown-Alignment -->
        <!------------------------------------------------------------------------>
        <!-- <li id="ClusteringAndEnrichment">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/ClusteringAndEnrichment/clustering_and_enrichment_analysis/');return false;"
             style="padding-right: 0;">
            <div class="item-media">
              <i class="fa-2x glyphicon glyphicon-stats"></i>
            </div>
            <div class="item-inner">Clustering & Enrichment</div>
          </a>
        </li> -->
        <!-- end of dropdown-ClustEnrich -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <li id="DataFusion">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/DataFusion/');return false;"
            style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa-database"></i>
            </div>
            <div class="item-inner">Data Fusion</div>
          </a>
        </li>
        <!-- end of li-DataFusion -->
        <!------------------------------------------------------------------------>
        <hr />
        <!------------------------------------------------------------------------>
        <!-- flag:NewTaskTemplate remember changing link and id. note: change the whole li block -->
        <!-- If this task is a Topological Analysis, go to 'WebServer/templates/TopologicalAnalysis/analysis.html' and change the link there -->
        <li id="flag:NewTaskTemplate" style="display: none;"> <!-- style="display: none;" style="display: hidden;" -->
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/NewTaskTemplate/');return false;"
            style="padding-right: 0;">
            <div class="item-media">
              <i class="fa fa-2x fa fa-camera-retro"></i>
            </div>
            <div class="item-inner">NewTaskTemplate</div>
          </a>
        </li> <!-- end of li-NewTaskTemplate -->
        <!------------------------------------------------------------------------>
        {% if is_beta_tester %}
        {# This area is for links just for beta testers#}
        {% endif %}
        {% if is_staff %}
        <li id="AdminCenter">
          <a class="sidebar-link change-to-hand-on-hover" onclick="navigateTo('/AdminCenter/');return false;">
            <div class="item-media">
              <i class="fa fa-2x fa-user-secret"></i>
            </div>
            <div class="item-inner">Admin Center</div>
          </a>
        </li>
        {% endif %}
        <!------------------------------------------------------------------------>
        <!-- <li id="LogOut">
          <a class="sidebar-link change-to-hand-on-hover" href="/logout">
            <div class="item-media">
              <i class="fa fa-2x fa-sign-out"></i>
            </div>
            <div class="item-inner">Sign Out</div>
          </a>
        </li> -->
        <!------------------------------------------------------------------------>
        <!-- <hr/> -->
        <!------------------------------------------------------------------------>
      </ul> <!--/.ul-menu -->
    </div> <!--/.nav-collapse -->
  </div> <!--/.sidebar-nav -->
</div> <!-- main-div -->
<!------------------------------------------------------------------------>
<style>
  .collapsed_section {
    position: static;
    float: none;
    width: auto;
    margin-left: 30px;
    /* padding: 5px 0; */
    /* padding-left: 20px; */
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(248, 238, 200, 0.541);
  }

  .collapsed_section>li.active {
    background-color: rgba(255, 205, 17, 0.67);
    color: #373837;
    font-size: 101%;
    border-right: outset rgba(255, 205, 17, 0.67) 5px;
  }

  .on-pending {
    background-color: rgba(255, 0, 0, 0.5);
  }

  .on-dev {
    background-color: rgba(0, 17, 255, 0.61);
  }
</style>
<!------------------------------------------------------------------------>
{% endblock %}

{% block NAVBAR_DROP_DOWN %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle right-user-menu right-drop-down-menu-item change-to-hand-on-hover"
        data-toggle="dropdown" role="button" aria-expanded="false">
        {{ name }}
        {# <i class="fa fa-bars fa-lg"></i>#}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu right-user-menu" role="menu">
        <!-- <li>
            <a class="right-drop-down-menu-item change-to-hand-on-hover"
               onclick="navigateTo('/Profile/');return false;">
              <i class="fa fa-user fa-lg"></i> User Profile
            </a>
          </li> -->
        <li class="divider "></li>
        <li>
          <a class="right-drop-down-menu-item" href="/logout">
            <i class="fa fa-sign-out fa-lg"></i> Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}

{% block NETWORK_UPLOAD %}
<div class="row-fluid">
  <div class="col-lg-2 pull-right right-sidebar" style="position: fixed;border-right-width: 0;">
    <h3 style="text-align: center">Networks</h3>

    <div id="loadedNetworksList">
      <input class="search form-control" placeholder="Search" style="width: 100%; margin-bottom: 1px;" />
      <button class="btn btn-primary sort" data-sort="name" style="width: 100%; padding: 0;">
        Sort By Name
      </button>

      <ul class="list">
      </ul>
      <ul id="pages-numbers" class="pagination" style="align-content: center"></ul>
    </div>

    <div style="position: absolute; bottom: 40px; right:5px;left:5px;padding:5px;">
      <button type="button" data-toggle="modal" data-target="#loadNetworkModal" class="btn btn-primary"
        style="width: 100%; padding: 10px;">
        <i class="fa fa-plus-circle fa-lg"></i> Load New Networks
      </button>
    </div>

    <div style="position: absolute; bottom: 0; right:5px;left:5px;padding:5px;">
      <button type="button" class="btn btn-danger" onclick="deleteLoadedNetworks()" style="width: 100%; padding: 10px;">
        <i class="fa fa-trash fa-lg"></i> Delete Loaded Networks
      </button>
    </div>

  </div>
  <div class="row-fluid">
    <div class="col-lg-2 pull-right running-tasks">
      <div id="tasks-list" style="width: 100%; margin-top: 5px;">
        <h3 style="margin-bottom: 0;">Running Tasks</h3>
        <ul class="list" style="margin-top:0;">
        </ul>
      </div>
    </div>
  </div>
  <!-- Modal for loading new networks -->
  <!-- 
    To make the modal wider than the default width, we need to add the following class: col-
    
   -->
  <div class="modal fade" id="loadNetworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="z-index: 1051;">
    <!-- 
      style="z-index: 1051;" means that the modal will be on top of the sidebar.
      In bootstrap, to make the modal wider, we need to add the following class: 
      col-xs-12 col-sm-12 col-md-12 col-lg-12 
      Or, instead of class modal, we can use modal-lg or modal-sm
     -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Load New Networks</h4>

        </div>
        <div class="modal-body" style="overflow-y: auto;">
          <form id="fileUploadForm" style="width: 100%;">
            <!-- <div class="form-group">
              <label for="id_networkNameInput">Network Name</label>
              <input type="text" style="width: calc(100% - 10px);" class="form-control centre-block"
                id="id_networkNameInput" placeholder="Network Name">
            </div> -->
            <!-- Form for uploading a single network file -->
            <!-- <div class="form-group">
              <label for="id_network_file_input">Choose File for Network</label>
              <input type="file" style="width: calc(100% - 10px);" class="form-control centre-block"
                id="id_network_file_input">
            </div> -->
            <!-- Form for uploading several network files -->
            <div class="form-group">
              <label for="id_network_file_input">Choose Files</label>
              <input type="file" style="width: calc(100% - 10px);" class="form-control centre-block"
                id="id_network_file_input" multiple>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="id_file_submit" class="btn btn-primary centre-block" data-dismiss="modal">Load</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <br />
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalReadMore">
            Read more about network formats
          </button>
        </div>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->
</div> <!-- /.row-fluid -->
<!-- Modal for reading more about network formats The modal is opened by clicking on the button 'Read more...' in the modal for loading new networks -->
<div class="modal fade" id="modalReadMore" tabindex="-1" role="dialog" aria-labelledby="modalReadMoreLabel"
  aria-hidden="true" style="z-index: 1051;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>File Formats</h4>
      </div>
      <div class="modal-body">
        <p>
          The preferred format for network files in GraphFusion is <b>Edge List</b> or variations of it depending on the
          type of network. The Edge List format is a simple text file with one edge per line. Each line contains two
          node names separated by a tab or a space. The node names can be any string of characters, but they cannot
          contain tabs or spaces. The node names are case sensitive.
          </br></br>
          <b>Adjacency matrices</b> are also allowed, but they are not recommended for large networks. The adjacency matrix is a square matrix with the same number of rows and columns as the number of nodes in the network. The value of each element in the matrix represents the weight of the edge between the corresponding row and column nodes. The adjacency matrix can be saved in a CSV file.
          </br></br>
          For more information please refer to the example netwoks in the 'example_networks' directory in this repository, or check them out online on the <a href="https://github.com/CarlosJesusGH/GraphFusion/tree/master/example_networks" target="_blank">Github repository</a>.

          
          </br></br>
          Following there is a list of the supported network types and one example for each.
        </p>
        <div id="accordion">
          <!-- Card for 'Undirected networks'. -->
          <div class="card">
            <div class="card-header" id="headingUndirected">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseUndirected"
                  aria-expanded="false" aria-controls="collapseUndirected">
                  Undirected Networks
                </button>
              </h5>
            </div> <!-- end of card-header -->
            <div id="collapseUndirected" class="collapse" aria-labelledby="headingUndirected" data-parent="#accordion">
              <div class="card-body">
                <p>Undirected networks represent bidirectional relationships between entities without a preferred directionality. They are used to model systems where interactions between entities are symmetric. For example, a PPI network where the relationship between two proteins is the same regardless of which protein is the source and which is the target.</p>
                <p><b>Example:</b></p>
                <pre class="text-left">
0 195
1 72
1 101
1 129
1 188
2 11
3 12
3 25
3 26
3 127
3 142
3 153
4 24
4 39
4 51
5 71
5 139
6 41
6 85
6 202
...
                </pre>
              </div> <!-- end of card-body -->
            </div> <!-- end of collapse -->
          </div> <!-- end of card -->
          <!-- Card for 'Directed networks'. -->
          <div class="card">
            <div class="card-header" id="headingDirected">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDirected"
                  aria-expanded="false" aria-controls="collapseDirected">
                  Directed Networks
                </button>
              </h5>
            </div> <!-- end of card-header -->
            <div id="collapseDirected" class="collapse" aria-labelledby="headingDirected" data-parent="#accordion">
              <div class="card-body">
                <p>Directed networks represent relationships between entities with a specific directionality. They are used to model systems where interactions between entities have an inherent direction. For example, a gene regulatory network where the relationship between two genes is different depending on which gene is the source and which is the target.</p>
                <p><b>Example:</b></p>
                <pre class="text-left">
0 1
0 683
0 1541
0 7
0 522
0 22
0 24
0 1049
0 26
0 27
0 1052
0 29
0 30
0 543
0 35
0 36
0 37
0 39
0 41
0 1543
...
                </pre>
              </div> <!-- end of card-body -->
            </div> <!-- end of collapse -->
          </div> <!-- end of card -->
          <!-- Card for 'Probabilistic networks'. -->
          <div class="card">
            <div class="card-header" id="headingProbabilistic">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseProbabilistic"
                  aria-expanded="false" aria-controls="collapseProbabilistic">
                  Probabilistic Networks
                </button>
              </h5>
            </div> <!-- end of card-header -->
            <div id="collapseProbabilistic" class="collapse" aria-labelledby="headingProbabilistic"
              data-parent="#accordion">
              <div class="card-body">
                <p>They represent uncertainty in relationships between entities by assigning probabilities as weights on edges (links) between nodes. They are used to model systems where the strength or likelihood of interactions is variable, for example, a PPI network with weights on edges representing the interaction's probability.</p>
                <p><b>Example:</b></p>
                <pre class="text-left">
ENSP00000000233 ENSP00000440005 0.862
ENSP00000005226 ENSP00000381768 0.87
ENSP00000005226 ENSP00000480279 0.933
ENSP00000005257 ENSP00000230449 0.87
ENSP00000005386 ENSP00000262265 0.828
ENSP00000005386 ENSP00000318297 0.91
ENSP00000005386 ENSP00000326031 0.799
ENSP00000005386 ENSP00000473172 0.87
ENSP00000006275 ENSP00000302783 0.825
ENSP00000006275 ENSP00000324318 0.855
ENSP00000006275 ENSP00000392495 0.828
ENSP00000006275 ENSP00000470262 0.827
ENSP00000008527 ENSP00000254657 0.771
ENSP00000008527 ENSP00000254657 0.771
ENSP00000008527 ENSP00000254657 0.771
ENSP00000008527 ENSP00000308741 0.794
ENSP00000008527 ENSP00000314420 0.836
ENSP00000008527 ENSP00000314420 0.836
ENSP00000008527 ENSP00000314420 0.836
ENSP00000008527 ENSP00000324464 0.782
...
                </pre>
              </div> <!-- end of card-body -->
            </div> <!-- end of collapse -->
          </div> <!-- end of card -->
          <!-- Card for 'Simplicial complexes'. -->
          <div class="card">
            <div class="card-header" id="headingSimplicial">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSimplicial"
                  aria-expanded="false" aria-controls="collapseSimplicial">
                  Simplicial Complexes
                </button>
              </h5>
            </div> <!-- end of card-header -->
            <div id="collapseSimplicial" class="collapse" aria-labelledby="headingSimplicial" data-parent="#accordion">
              <div class="card-body">
                <p>They model systems where interactions between entities are not limited to pairwise relationships, for example, a gene regulatory network where a third gene can influence the relationship between two genes. To analyze this type of network, we use Simplets, which generalize graphlets to simplicial complexes, capturing higher-order relationships between entities.</p>
                <p><b>Example:</b></p>
                <pre class="text-left">
Yang_Yang Jingyi_Yu Zhang_Chen Siyuan_Li Xinqing_Guo
Ying_Hu Hao_Huang Haihua_Xu
Priyanshu_Das Bhadrachalam_Chitturi
Boris_Klemz Günter_Rote
Sevil_Dräxler Holger_Karl Zoltán_Ádám_Mann
Jian_Peng Tanmay_Gangwani
Richard_Altendorfer Christoph_Wilkmann
Yang_Hu Yun_Gu Jie_Yang Guang-Zhong_Yang
Francesco_Borrelli Xiaojing_Zhang Alexander_Liniger
Chen_Fang Daniel_N._Rockmore Tom_Ginsburg David_C._Krakauer Nicholas_J._Foti
Mehdi_Sharifzadeh Dan_Schonfeld Chirag_Agarwal Mohammed_Aloraini
Tianchun_Wang Xi_Li _Zhang _Zhongfei Weisong_Hu Zhongang_Qi Guojie_Song
Zhikun_Zhang Zhiguo_Shi Shibo_He Jiajun_Zhang Xiaohui_Liang
Bernt_Schiele Qianru_Sun Mario_Fritz Liqian_Ma Seong_Joon_Oh Luc_Van_Gool
Hervé_Debar Joaquin_Garcia-Alfaro Gustavo_Gonzalez-Granadillo
Zilu_Zhang Tal_Friedman Guy_Van_den_Broeck Jingyi_Xu Yitao_Liang
Nour_Murad Jean_Lebreton Sylvain_Bonhommeau Loic_Guegan
Anca_Sticlaru Juergen_Gall Grigorios_Kalliatakis George_Stamatiadis Ales_Leonardis Klaus_D._McDonald-Maier Shoaib_Ehsan
Seijoon_Kim Seongsik_Park Sungroh_Yoon Seil_Lee Ho_Bae
Zining_Wang Wei_Zhan Masayoshi_Tomizuka
...
                </pre>
              </div> <!-- end of card-body -->
            </div> <!-- end of collapse -->
          </div> <!-- end of card -->
          <!-- Card for 'Hyper Networks'. -->
          <div class="card">
            <div class="card-header" id="headingHyper">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHyper"
                  aria-expanded="false" aria-controls="collapseHyper">
                  Hyper Networks
                </button>
              </h5>
            </div> <!-- end of card-header -->
            <div id="collapseHyper" class="collapse" aria-labelledby="headingHyper" data-parent="#accordion">
              <div class="card-body">
                <p>They are networks where hyperedges rather than traditional edges can connect nodes. Hyperedges can connect multiple nodes simultaneously, representing complex relationships between entities, for example, a gene regulatory network where a single transcription factor can regulate a group of genes. To analyze these networks, we use hyper graphlets that extend the concept of graphlets to hyper networks.
                </p>
                <p>
                For the input file, each line represents a hyperedge. The first element in the line is the name or id of the hyperedge, and the rest of the elements are the names of the nodes connected by the hyperedge.
                </p>
                <p><b>Example:</b></p>
                <pre class="text-left">
0	269	525
1	115	580	674	1252	1394
2	704	1135
3	336	1083
4	78	247	371	846	1572
5	104	163	465	1201
6	854	1117	1122	1299	1326	1431
7	120	227
8	296	431	506
9	196	367	1329
10	948	1103
11	65	633
12	216	1282
13	63	1352
14	205	264	275	492	762	1076
15	329	834	1139	1436
16	429	576
17	776	782	1123	1204
18	159	1505
19	1086	1090	1577
...
                </pre>
              </div> <!-- end of card-body -->
            </div> <!-- end of collapse -->
          </div> <!-- end of card -->
        </div> <!-- end of accordion -->
      </div> <!-- end of modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> <!-- end of modal-footer -->
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->


<script>
  // Initial setup
  setUpOnDemandFileUpload($("#id_network_file_input"), $("#id_file_submit"), $("#id_networkNameInput"), $("#uploadedNetworks"), $("#fileUploadForm"));
  initialiseRunningTasksList('tasks-list');
  // If NetworkFiles is empty, load networks from the server using 'download_networks' function
  if (networkFiles.length == 0) {
    download_networks();
  }

  // Keep the read more section collapsed when the modal is opened
  $('#loadNetworkModal').on('hide.bs.modal', function () {
    $('#collapseReadMore').collapse('hide');
  })

  function updateNetworks() {
    // just to avoid the error 'updateNetworks() is not defined'
  }

</script>

{% endblock %}
