<div class="" style="padding:5px; ">
  <table id="properties_table" class="table table-striped table-bordered">
    <thead>
    <tr>
      {% for h in heading %}
        <th>{{ h }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr>
        {% for val in row %}
          <td>{{ val }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>

<div class="" style="padding:5px;">
  <div id="graphNetworkAnalysis">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-line-chart"></i> Degree Distribution</h3>
      </div>
      <div class="panel-body">
        <img src="data:image/svg+xml;base64,{{ deg_dist }}" width="100%" height="100%"/>
      </div>
    </div>
    {% for gcm_name, image_data in gcm_raw_data %}
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-picture-o"></i> Graphlet Correlation Matrix: {{ gcm_name }}
          </h3>
        </div>
        <div class="panel-body" style="height: 700px">
          <div class="gddSignature{{ network.get_id }}" style="width: 100%; height: 100%;">
            <!-- Check that image_data is not empty and is not equal to the word 'None'-->
            {% if image_data != "None" and image_data and image_data.strip %}
              <img width="100%" height="100%" alt="heatmap_{{ network.get_id }}"
                   src="data:image/svg+xml;base64,{{ image_data }}"/>
            {% else %}
              <h4> Error occurred while computing GCM Matrix</h4>
              <!-- Include info about the possible problem reasons -->
              <p> Possible reasons: </p>
              <ul>
                <li> The network contains duplicate undirected edges. </li>
                <li> The network is too large. </li>
                <li> The network is not connected. </li>
                <li> The network has structural errors. </li>
                <li> The network is empty. </li>
              </ul>              
              <p> Read the console log for more information. </p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>