<div class="row-fluid">
  {% csrf_token %}
  <h3>Clustering and Enrichment</h3>
  <h5>Select a factor</h5>
  <p>
    A factor is a low-dimensional representation of the data, such as a multimodal embedding, a principal component, a t-SNE embedding, or a graphlet degree vector matrix (where the number of rows in the matrix is equal to the number of nodes in the network, and the columns are the Graphlet Degree Vectors, i.e., 11 columns per node representing the coordinates corresponding to the 11 non-redundant orbits). The input file should be a tab-separated matrix without a header or row names. The values should be positive real numbers. The matrix does not need to be square or symmetric.
  </p>
  <div class="row-fluid" style="padding:5px;">
    <div class="row-fluid">
      <div class="form-group col-lg-3">
        <select id="clusterFact" class="form-control col-sm-4" style="min-width: 250px;" />
      </div>
      <div class="form-group">
        <div class="col-sm-2">
          <button class="btn btn-success" onclick="getVisualization(); return false;" style="right:0"
            id="analyseButton">Visualize
          </button>
        </div>
      </div>
      <br />

      <!-- factor visualization -->
      <div id="visualPanelDiv" style="display:none;">
        <!-- add horizontal line divider -->
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-12">
            <hr />
          </div>
        </div>
        <!-- --------------------------- -->
        <div class="panel panel-green" style="margin-top: 20px;">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Visualization of the factor</h3>
            Each row represents an entity (e.g. a gene). Each column represents a dimension.
          </div>
          <div class="panel-body">
            <div class="row" style="display:hidden;">
              <div class="col-lg-12" id="factorImageDiv" style="display:none;">
                <img id="factorImage" width="80%" height="80%" />
              </div>
            </div>
          </div>
        </div>
        <!-- add horizontal line divider -->
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-12">
            <hr />
          </div>
        </div>
        <!-- --------------------------- -->
      </div>

      <!-- clusters -->
      <div id="clustersPanelDiv" style="display:none;">
        <div class="panel panel-green" style="margin-top: 20px;">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Clusters</h3>
            Create clusters using the entities. Cluster are created according to their distances in the low-dimensional
            space.
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <h5>Select the entity list file:</h5>
                <form enctype="multipart/form-data">
                  <input id="clusters_entitylist_file" name="file" type="file" />
                </form>
              </div>
            </div>
            <br />
            <div class="col-lg-3">
              <button class="btn btn-primary" onclick="computeCluster(); return false;" id="computeClusters">Compute
                Clusters</button>
            </div>
            <br />
            <div class="row" style="display:hidden;">
              <div class="col-lg-12" id="clusterImageDiv" style="display:none;">
                <img id="clusterImage" width="80%" height="80%" />
                <!-- static images -->
                <!-- ------------------- -->
                <br />
                <!-- add horizontal line divider -->
                <div class="row" style="margin-top: 20px;">
                  <div class="col-lg-12">
                    <hr style="height:2px;background-color:#5cb85c">
                  </div>
                </div>
                <!-- --------------------------- -->
                <br />
                <button class="btn btn-primary" onclick="toggleClusterTable(); return false;">Toggle drugstone container
                  and table</button>
                <br />
                <div id="div_clusters_table">
                  <h3>Drugstone container</h3>
                  Use the table below to select the clusters to be visualized in the drugstone container.
                  <br /> <br />
                  <!-- drugstone-container -->
                  <!-- {% if network %} -->
                  <div id="drugstone-container" class="col-lg-12 row drugstone-container"
                    style="margin-top: 20px; margin-bottom: 40px;">
                    <!-- <div class="drugstone-container"> -->
                    {% include 'ClusteringAndEnrichment/clusteringAndEnrichmentAnalysis/drugstone_container.html' %}
                  </div>
                  <!-- {% endif %} -->
                  <!-- ------------------- -->
                  <br />
                  <!-- add horizontal line divider -->
                  <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                      <hr style="height:2px;background-color:#5cb85c">
                    </div>
                  </div>
                  <!-- --------------------------- -->
                  <br />
                  <h3>Table of clusters</h3>
                  Select the clusters of entities to be included in the drugstone container.
                  <br /> <br />
                  <table id="clusters_table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Cluster ID
                        </th>
                        <th>
                          Size
                        </th>
                        <th>
                          Entities
                        </th>
                      </tr>
                    </thead>
                    <tbody id="clusters_table_body">
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- add horizontal line divider -->
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-12">
            <hr />
          </div>
        </div>
        <!-- --------------------------- -->

      </div>

      <!-- enrichments -->
      <div id="enrichmentsPanelDiv" style="display:none;">
        <div class="panel panel-green" style="margin-top: 20px;">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Enrichments</h3>
            <!-- Compute enrichments of the entities in the factor.  -->
            Enrichment analysis for assessing the functional relevance of the entity clusters obtained by the framework.
            Enrichments are computed using the annotations file.
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <h5>Select the annotations file:</h5>
                <form enctype="multipart/form-data">
                  <input id="annotations_file" name="file" type="file" />
                </form>
              </div>
            </div>
            <br />
            <div class="col-lg-3">
              <button class="btn btn-primary" onclick="computeEnrichments(); return false;"
                id="computeEnrichments">Compute Enrichments</button>
            </div>
            <br />
            <div class="row" style="display:hidden;">
              <div class="col-lg-12" id="enrichmentsImageDiv" style="display:none;">
                <img id="enrichmentsImage" width="80%" height="80%" src="data:image/png;base64,{{ extra_res.1 }}" />
                <br />
                <h4> The plot shows three types of enrichments: the percentage of clusters having at least one of their
                  entities (e.g. genes) enriched (in blue); the percentage of annotations enriched (in red); and the
                  percentage of entities (e.g. genes) having at least one of their annotations enriched in their
                  clusters over all annotated entities (in purple). </h4>
                <!-- --------------------------- -->
                <!-- ------------------- -->
                <br />
                <!-- add horizontal line divider -->
                <div class="row" style="margin-top: 20px;">
                  <div class="col-lg-12">
                    <hr style="height:2px;background-color:#5cb85c">
                  </div>
                </div>
                <!-- --------------------------- -->
                <br />
                <button class="btn btn-primary" onclick="toggleEnrichmentTable(); return false;">Toggle drugstone
                  container and table</button>
                <br />
                <div id="div_enrichments_table">
                  <h3>Drugstone container</h3>
                  Use the table below to select the clusters to be visualized in the drugstone container.
                  <br /> <br />
                  <!-- drugstone-container -->
                  <!-- {% if network %} -->
                  <div id="drugstone-container-enrichments" class="col-lg-12 row drugstone-container"
                    style="margin-top: 20px; margin-bottom: 40px;">
                    <!-- <div class="drugstone-container"> -->
                    {% include 'ClusteringAndEnrichment/clusteringAndEnrichmentAnalysis/drugstone_container.html' %}
                  </div>
                  <!-- {% endif %} -->
                  <!-- ------------------- -->
                  <br />
                  <!-- add horizontal line divider -->
                  <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                      <hr style="height:2px;background-color:#5cb85c">
                    </div>
                  </div>
                  <!-- --------------------------- -->
                  <br />
                  <h3>Table of clusters enriched</h3>
                  Select the enriched clusters to be included in the drugstone container.
                  <br /> <br />
                  <table id="enrichments_table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>
                          Cluster ID
                        </th>
                        <th>
                          Size
                        </th>
                        <th>
                          Entities
                        </th>
                      </tr>
                    </thead>
                    <tbody id="enrichments_table_body">
                    </tbody>
                  </table>
                </div>

              </div>
            </div>

          </div>

        </div>

        <!-- </form> -->
      </div>

    </div>
  </div>
  <br>

  <div id="result" style="height: 500px;"></div>

  <script type="text/javascript">
    var $clusterFact = $('#clusterFact');
    updateNetworks();

    function updateNetworks() {
      $clusterFact.empty();
      updateNetworkNamesInList($clusterFact);
    }

    function getVisualization() {
      // console.log("getVisualization()");
      var cluster_fact = $("#clusterFact").val();
      if (cluster_fact == null) {
        vexErrorAlert("You should select a factor to visualize it.");
        return;
      }
      var fd = new FormData();
      var data = {
        'cluster_fact': networkFiles[$clusterFact.val()]
      };
      fd.append("data", JSON.stringify(data));
      Pace.track(function () {
        $.ajax({
          url: '/ClusteringAndEnrichment/visualize_factor/',
          type: 'POST',
          data: fd,
          processData: false,  // tell jQuery not to process the data
          contentType: false,  // tell jQuery not to set contentType
          success: function (params) {
            var jsonparams = JSON.parse(params);
            var msg = jsonparams.msg;
            var factor_img = jsonparams['factor_img'];
            document.getElementById('factorImage').setAttribute('src', 'data:image/png;base64,' + factor_img);
            $("#visualPanelDiv").fadeIn();
            $("#factorImageDiv").fadeIn();
            $("#clustersPanelDiv").fadeIn();
            $("#clusterImageDiv").fadeOut();
            successAlert(msg);
          },
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
            $("#visualPanelDiv").fadeOut();
            $("#factorImageDiv").fadeOut();
            $("#clustersPanelDiv").fadeOut();
            $("#enrichmentsPanelDiv").fadeOut();
          },
          error: function (xhr, textStatus, errorThrown) {
            console.log('ERRORS: ' + textStatus);
            errorAlert("Error occurred while computing the clusters: " + xhr.responseText);
          }
        });
      })
    }

    function cb_change_action(cbObject) {
      var cluster_ids = [];
      // get the clusters from the table
      var clusters = $('#clusters_table').attr('data');
      // console.log("clusters", clusters);
      // parse string to list of lists
      clusters = eval(clusters);
      // console.log("clusters", clusters);
      // for all clusters push the cluster id if the checkbox is checked
      for (var i = 0; i < clusters.length; i++) {
        var cb = $('#table_cb_' + i);
        if (cb.is(':checked')) {
          cluster_ids.push(i);
        }
      }
      console.log("cluster_ids", cluster_ids);
      // update drugstone-container
      updateDrugstoneContainer(cluster_ids, $('#drugstone-container'), $('#clusters_table').attr('data'));
    }

    function cb_change_action_enrichments(cbObject) {
      var cluster_ids = [];
      // get the clusters from the table
      var clusters_enriched = $('#enrichments_table').attr('data');
      // console.log("clusters", clusters);
      // parse string to list of lists
      clusters_enriched = eval(clusters_enriched);
      // console.log("clusters", clusters);
      // for all clusters push the cluster id if the checkbox is checked
      for (var i = 0; i < clusters_enriched.length; i++) {
        var cb = $('#table_cb_enriched_' + i);
        if (cb.is(':checked')) {
          cluster_ids.push(i);
        }
      }
      console.log("cluster_ids", cluster_ids);
      // update drugstone-container
      updateDrugstoneContainer(cluster_ids, $('#drugstone-container-enrichments'), $('#enrichments_table').attr('data'));
    }

    function updateDrugstoneContainer(cluster_ids, drugstone_container, table_data) {
      // console.log("updateDrugstoneContainer")
      // update networks shown in drugstone-container
      var fd = new FormData();
      var data = {
        // 'cluster_ids': [document.getElementById("k").value],
        'cluster_ids': cluster_ids,
        'clusters': table_data,
      };
      fd.append("data", JSON.stringify(data));
      Pace.track(function () {
        $.ajax({
          url: '/ClusteringAndEnrichment/update_drugstone_container/',
          type: 'POST',
          data: fd,
          processData: false,  // tell jQuery not to process the data
          contentType: false,  // tell jQuery not to set contentType
          success: function (data) {
            // console.log("success, data:", data); // sanity check
            // $('#drugstone-container').load(data, function() {alert( "Load was performed." );});
            drugstone_container.html(data);
          },
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
          },
          error: function (xhr, textStatus, errorThrown) {
            console.log('ERRORS: ' + textStatus);
            errorAlert("Error occurred while computing the clusters: " + xhr.responseText);
          }
        });
      })
    }

    function toggleClusterTable() {
      $("#div_clusters_table").fadeToggle();
    }

    function toggleEnrichmentTable() {
      $("#div_enrichments_table").fadeToggle();
    }

    function computeCluster() {
      console.log("computeClusters()");
      var cluster_fact = $("#clusterFact").val();
      console.log("cluster_fact:" + cluster_fact);
      // if cluster_fact is null or 0, then show error
      if (cluster_fact == null) {
        vexErrorAlert("You should select a factor to cluster.");
        return;
      }
      // -----
      var fd = new FormData();
      var read = new FileReader();
      if (document.getElementById("clusters_entitylist_file").value == "") {
        // vexErrorAlert("You should select an entity list file to compute clusters.");
        // return;
        successAlert("Not entity list file selected. The default entity list file will be used.");
      }
      console.log("readAsText:" + clusters_entitylist_file.name);
      read.readAsText(clusters_entitylist_file);
      // else if (clusters_entitylist_file.name.includes(".edgelist") || clusters_entitylist_file.name.includes(".csv")) {
      //   console.log("readAsText:" + clusters_entitylist_file.name);
      //   read.readAsText(clusters_entitylist_file);
      // } else {
      //   console.log("readAsArrayBuffer:" + clusters_entitylist_file.name);
      //   // read.readAsBinaryString(files[i]);
      //   read.readAsArrayBuffer(clusters_entitylist_file);
      // }
      read.onloadend = function () {
        console.log('read.onloadend for file: ' + clusters_entitylist_file.name);
        // -----
        fd.append("clusters_entitylist_file", new Blob([read.result]), "File0");
        // -----
        var data = {
          // 'cluster_fact': cluster_fact,
          // 'task_dir': "{{task.operational_directory}}",
          'cluster_fact': networkFiles[$clusterFact.val()]
        };
        fd.append("data", JSON.stringify(data));
        // -----
        Pace.track(function () {
          $.ajax({
            url: '/ClusteringAndEnrichment/compute_clusters/',
            type: 'POST',
            // data: {'data': JSON.stringify(data),},
            data: fd,
            // async: false,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (params) {
              // console.log("success, params:", params); // sanity check
              var jsonparams = JSON.parse(params);
              var msg = jsonparams.msg;
              var clusters_img = jsonparams['clusters_img'];
              document.getElementById('clusterImage').setAttribute('src', 'data:image/png;base64,' + clusters_img);
              $("#clusterImageDiv").fadeIn();
              $("#enrichmentsPanelDiv").fadeIn();
              // refreshRunningTasks();
              successAlert(msg);
              // update clusters_table
              var clusters = jsonparams['clusters'];
              // console.log("clusters:", clusters);
              // clear clusters_table_body and add the new clusters.
              $("#clusters_table_body").empty();
              for (var i = 0; i < clusters.length; i++) {
                var cluster = clusters[i];
                var cluster_id = i;
                // console.log("cluster:" + cluster);
                var cluster_size = cluster.length;
                var row = "<tr><td> <input type='checkbox' id='table_cb_" + cluster_id + "'  onchange='cb_change_action(this)'  />&nbsp;" +
                  cluster_id + "</td><td>" + cluster_size + "</td><td>" + cluster + "</td></tr>";
                $("#clusters_table_body").append(row);
              }
              // updata clusters_table data
              clusters = JSON.stringify(clusters);
              // console.log("clusters:", clusters);
              $('#clusters_table').attr('data', clusters);
              // check data
              // console.log("--------");
              // console.log($('#clusters_table').attr('data'));
            },
            beforeSend: function (xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
              $("#clusterImageDiv").fadeOut();
              $("#enrichmentsImageDiv").fadeOut();
            },
            error: function (xhr, textStatus, errorThrown) {
              console.log('ERRORS: ' + textStatus);
              errorAlert("Error occurred while computing the clusters: " + xhr.responseText);
              $("#enrichmentsPanelDiv").fadeOut();
            }
          });
        })
      }
    }

    function computeEnrichments(selectObject) {
      console.log("computeEnrichments()");
      var cluster_fact = $("#clusterFact").val();
      if (cluster_fact == null) {
        vexErrorAlert("You should first compute cluster for a factor and then the enrichments.");
        return;
      }
      // -----
      var fd = new FormData();
      var read = new FileReader();
      if (document.getElementById("clusters_entitylist_file").value == "") {
        vexErrorAlert("You should select an entity list file to compute clusters and enrichments.");
        return;
      }
      if (document.getElementById("annotations_file").value == "") {
        vexErrorAlert("You should select an annotations file to compute enrichments.");
        return;
      } else if (annotations_file.name.includes(".edgelist") || annotations_file.name.includes(".csv")) {
        console.log("readAsText:" + annotations_file.name);
        read.readAsText(annotations_file);
      } else {
        console.log("readAsArrayBuffer:" + annotations_file.name);
        // read.readAsBinaryString(files[i]);
        read.readAsArrayBuffer(annotations_file);
      }
      read.onloadend = function () {
        console.log('read.onloadend for file: ' + annotations_file.name);
        // -----
        fd.append("annotations", new Blob([read.result]), "File0");
        // -----
        var data = {
          // 'cluster_fact': cluster_fact,
          'cluster_fact': networkFiles[$clusterFact.val()][0]
          // 'enrichments_anno': enrichments_anno,
          // 'task_dir': "{{task.operational_directory}}",
        };
        fd.append("data", JSON.stringify(data));
        // -----
        Pace.track(function () {
          $.ajax({
            url: '/ClusteringAndEnrichment/compute_enrichments/',
            type: 'POST',
            data: fd,
            // async: false,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (params) {
              var jsonparams = JSON.parse(params);
              var msg = jsonparams.msg;
              var enrichments_img = jsonparams['enrichments_img'];
              document.getElementById('enrichmentsImage').setAttribute('src', 'data:image/png;base64,' + enrichments_img);
              $("#enrichmentsImageDiv").fadeIn();
              // refreshRunningTasks();
              successAlert(msg);
              var clusters_enriched = jsonparams['clusters_enriched'];
              // console.log("clusters:", clusters);
              // clear clusters_table_body and add the new clusters.
              $("#enrichments_table_body").empty();
              for (var i = 0; i < clusters_enriched.length; i++) {
                var cluster = clusters_enriched[i];
                var cluster_id = i;
                // console.log("cluster:" + cluster);
                var cluster_size = cluster.length;
                var row = "<tr><td> <input type='checkbox' id='table_cb_enriched_" + cluster_id + "'  onchange='cb_change_action_enrichments(this)'  />&nbsp;" +
                  cluster_id + "</td><td>" + cluster_size + "</td><td>" + cluster + "</td></tr>";
                $("#enrichments_table_body").append(row);
              }
              // updata clusters_table data
              clusters_enriched = JSON.stringify(clusters_enriched);
              // console.log("clusters:", clusters);
              $('#enrichments_table').attr('data', clusters_enriched);
            },
            beforeSend: function (xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
              $("#enrichmentsImageDiv").fadeOut();
            },
            error: function (xhr, textStatus, errorThrown) {
              console.log('ERRORS: ' + textStatus);
              errorAlert("Error occurred while computing the enrichments: " + xhr.responseText);
            }
          });
        })
      }
    }

    // ----- upload files -----------------
    var clusters_entitylist_file;
    $("#clusters_entitylist_file").on('change', function () {
      clusters_entitylist_file = this.files[0];
      if (clusters_entitylist_file.size > 10000000) {
        alert('max upload size is 1MB');
      } else {
        // Also see .name, .type
        console.log('clusters_entitylist_file loaded: ' + clusters_entitylist_file.name);
      }
    });

    var annotations_file;
    $("#annotations_file").on('change', function () {
      annotations_file = this.files[0];
      if (annotations_file.size > 10000000) {
        alert('max upload size is 1MB');
      } else {
        // Also see .name, .type
        console.log('annotations_file loaded: ' + annotations_file.name);
      }
    });

  </script>