warning('off', 'all');
pkg load statistics
run_nmtf({'./Nets/CElegans.edgelist', './Nets/DMelanogaster.edgelist', './Nets/MMusculus.edgelist'}, 'sequence_scores.lst', [80, 90, 80], 20, 0.01, 'nmtf_scores.lst') 
