<div class="" style="padding:5px;">
  <div class="panel panel-green">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-video-camera"></i> Visualization
      </h3>
    </div>
    <div class="panel-body" style="height: 500px">
      <div id="visualization" style="height: 100%"></div>
    </div>
  </div>
</div>
<script>
  var network = null;

  draw();
  // window.addEventListener("load", () => {
  //   draw();
  // });

  function destroy() {
    if (network !== null) {
      network.destroy();
      network = null;
    }
  }

  function draw() {
    log_timestamp("SingleNetworkVisualisation - draw", "start")

    // TODO: check if this is needed
    // destroy any previous network
    destroy();

    log_timestamp("SingleNetworkVisualisation - draw", "after destroy")

    var nodes = [];
    var edges = [];
    {% for nodeName, nodeID in nodes %}
      nodes.push({
        id: {{ nodeID }},
        label: String("{{ nodeName|safe }}")
      });
    {% endfor %}

    log_timestamp("SingleNetworkVisualisation - draw", "after loading nodes")

    {% for from,to in edges %}
      edges.push({
        from: "{{ from }}",
        to: "{{ to }}"
      });
    {% endfor %}

    log_timestamp("SingleNetworkVisualisation - draw", "after loading edges")

    // read context variable 'directed'
    var directed = '{{ directed }}';
    // console.log("single vis directed: " + directed);
    // From vis.js https://github.com/almende/vis
    // at WebServer/templates/static/js/visualisation.js
    drawGraph(document.getElementById('visualization'), nodes, edges, network, directed);

    
    log_timestamp("SingleNetworkVisualisation - draw", "end")
  }
</script>